/sodapy_local/__pycache__
/Plots
/Tomap
/meteoclimatic_local/__pycache__
/.DS_Store
**/.DS_Store
/.vscode
/__pycache__
/.venv/
/Data/
MERGED_*.csv
/docker-data/
/docker-empty-test/
/backups/

# Local tests and old scripts
/_My test files/
/Rainmapper_old.py
/Rainmapper_Client_old.py
/weather_scraper_old.py
/stations_test.txt
