/sodapy_local/__pycache__
/Plots
/Tomap
/meteoclimatic_local/__pycache__
/.DS_Store
/.vscode
/__pycache__
/.venv/
Data/Meteocat.csv
Data/Meteoclimatic.csv
Data/Wunderground.csv
MERGED_*.csv
/docker-data/